main {
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: px;
}

/* media query */
@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
}